:root{
    /*Declaração de variáveis para serem reutilizadas*/
    --brand: #20AD96;
    --brand-dark: #028176;        
    --brand-light: #F3FFFD;
    --title: #333333;
    --text: #666666;    
    --rounded: 10px;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif; 
    
}
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }

    p{
        color:var(--text);
        line-height: 150%;
    }

.header{
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px 1px #EEE;
    padding-top: 30px;
    padding-bottom: 30px;


}

.container{
    width: 1140px;
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
    
}

.header .container{
    display: flex;
    justify-content: space-between; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
}

.menu a{    
   text-decoration: none;
   color: var(--text-dark);
   margin-left: 40px;
  
}

.btn{
    background-color: var(--brand);
    padding: 12px 30px;
      color: white;
   border-radius: var(--rounded);
   text-decoration: none;
}

.btn:hover{
    background-color: var(--brand-dark);
}

.menu a:hover{
    background-color: var(--brand);
}

.hero{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 100px;
margin-bottom: 100px;
}

.hero h1{
    font-size: 60px;
    color: var(--text-dark);
    font-weight: 600;
    line-height: 100%;
    
}

    .hero p{
        font-size: 20px;
    }

.content-hero{
    width: 560px;
}

.text-brand{
    color: var(--brand);
}
